@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Letters and symbols are grouped by same overall style */
/* Font color best way to distinguish grouping */

/* color: aqua; */
.whyWLetter,
.developerPLetter,
.question-mark {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* color: darkgoldenrod; */
.whyHLetter,
.gardeningELetter,
.becauseCLetter,
.theirRLetter,
.rootOLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

/* color: coral; */
.whyYLetter,
.takeELetter,
.gardeningRLetter,
.becauseALetter,
.improveMLetter,
.hyphen {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* color: rgb(80, 193, 68); */
.didDLetter,
.frontendNLetter,
.developerELetter,
.developerRLetter,
.upULetter,
.gardeningDLetter,
.gardeningGTwoLetter,
.theyHLetter,
.wantedTLetter,
.improvePLetter,
.skillsILetter {
  font-size: 40px;
  font-weight: bold;
  color: rgb(80, 193, 68);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Jersey 15", sans-serif;
}

/* color: rgb(170, 64, 163); */
.didILetter,
.frontendDLetter,
.takeALetter,
.gardeningNLetter,
.becauseBLetter,
.wantedALetter,
.improveOLetter,
.theirHLetter,
.rootTLetter,
.skillsSTwoLetter {
  font-size: 25px;
  font-weight: 400;
  color: rgb(170, 64, 163);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Black Ops One", sans-serif;
}

/* color: rgb(249, 0, 0); */
.didDTwoLetter,
.developerVLetter,
.becauseULetter,
.wantedWLetter,
.rootOTwoLetter {
  font-size: 54px;
  font-weight: 700;
  color: rgb(249, 0, 0);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Rubik Vinyl", sans-serif;
}

/* color: #8034eb; */
.theTLetter,
.developerOLetter,
.gardeningGLetter,
.wantedELetter,
.improveELetter {
  font-size: 100px;
  font-weight: 700;
  color: #8034eb;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Ceviche One", sans-serif;
}

/* color: #876820; */
.theHLetter,
.frontendNTwoLetter,
.developerETwoLetter,
.gardeningNTwoLetter,
.improveILetter,
.skillsSLetter {
  font-size: 38px;
  font-weight: bold;
  color: #876820;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* color: #edba8a; */
.theELetter,
.developerDLetter,
.upPLetter,
.gardeningALetter,
.becauseSLetter,
.theirTLetter,
.skillsLLetter {
  font-size: 25px;
  font-weight: normal;
  color: #edba8a;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Black Ops One", sans-serif;
}

/* color: #ffffff; */
.frontendFLetter,
.developerEThreeLetter,
.takeKLetter,
.gardeningILetter,
.becauseELetter,
.wantedDLetter,
.theirILetter,
.skillsKLetter {
  font-size: 69px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Rubik Vinyl", sans-serif;
}

/* color: #8a4949; */
.frontendRLetter,
.theyELetter,
.toOLetter {
  font-size: 33px;
  font-weight: 700;
  color: #8a4949;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Jersey 15", sans-serif;
}

/* color: rgb(51, 93, 85); */
.frontendOLetter,
.takeTLetter,
.theyYLetter,
.wantedNLetter,
.improveVLetter,
.skillsLTwoLetter,
.exclamation-mark {
  font-size: 60px;
  font-weight: bold;
  color: rgb(51, 93, 85);
  text-decoration: line-through;
  text-transform: none;
  font-family: "Piazolla", sans-serif;
}

/* color: #0090ce; */
.frontendTLetter,
.developerLLetter,
.becauseETwoLetter,
.theyTLetter,
.toTLetter,
.rootRLetter {
  font-size: 63px;
  font-weight: bold;
  color: #0090ce;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Rubik Vinyl", sans-serif;
}

/* color: rgb(213, 0, 0); */
.frontendELetter,
.improveRLetter,
.theirELetter {
  font-size: 27px;
  font-weight: 400;
  color: rgb(213, 0, 0);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
}
